*{
  padding:0px;
  margin:0px;
}

div#main{
    border:1px solid gray;
    box-shadow: 5px 4px 8px black;
    color:lime;
    font-size:22px;
    letter-spacing: 3px;
    height: 320px;
    width:280px;
    margin: 70px 50px auto 900px;
    padding: 40px;
    background-color: url("/home/king/Pictures/ghost.png");
}
body{
    background-image: url("/home/king/Pictures/monkey.jpg");
    background-size: 100%;
}
button{
    margin:15px 0px 0px 10px;
    height:35px;
    width: 80px;
    box-shadow: 2px 1px 3px 2px;
}
input{
    height: 30px;
    width: 250px;
    border:2px solid black;
}
